*{
  box-sizing: border-box;
 background: rgb(245, 248, 255);
  
   

  padding: 0;
  margin: 0;
}
.noto-sans{
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.container{
    max-width: 1280px;
    margin: auto;
   

}
nav{
    display: flex;
    justify-content: space-between;
}
nav li{
    list-style: none;
}
nav li a{
    text-decoration: none;
}
.nav-right{
    display: flex;
    font-size: 1rem;
   font-weight: 400;
 line-height: 24px;
 gap: 48px;
 align-items: center;
 margin: 10px 0;
}
.first-item{
   font-weight: bold;
   color: black;
}
.second-item{
    color: rgb(137, 135, 161);
}
.card-item{
    color:rgb(0, 0, 0);


}
.card-item:hover{
    color: blueviolet;
}
.banner{
   
   border: 2px teal;
   border-radius: 20px;
    display: flex;
    align-items: center;
    border-radius: 10px;
     margin: 80px auto;
    
}
.banner-left{
    margin-top: 30px;
    

}
.banner-right img{
    width: 570px;
    height: 355px;
    display: block;
    
  
}
.img{
    max-width: 100%;
}

.banner-left h1{
    font-weight: 900px;
    font-size: 6rem;
}
.banner-description{
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400px;
    font-size: 1.2rem;
    margin: 13px 0px;
    
}
.title-1{ 
    color:rgb(233, 90, 8);
}
.flower-details{
    text-align: center;
    margin: 80px auto;
}
.flower-details h1{
    font-weight: 600px;
    font-size: 4rem;
    margin: 64px auto;
    text-align: center;
    margin: 0px;
    
}
.flower-details p{
    text-align: center;
    font-weight: 400px;
    font-weight: 1.6rem;
    color: rgba(0, 0, 0, 0.5);
    

}
.flowers-card{
    text-align: center;
}
.primary-btn{
    background: rgb(233, 90, 8);
    padding: 10px 70px;
    font-size: 1rem;
    font-weight: 600px;
    color: white;
}
.card-price{
    display: block;
    margin-bottom: 15px;
    font-weight: 700px;
    font-size: 1.4rem;
    
}
.flowers-card-content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    
}
.flowers-card h3{
    font-weight: 500px;
    font-size: 1.6rem;
}
.flowers-shop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px auto;
    
    
}
.shop-picture {
    
}
.shop-title{
    color: rgb(0, 0, 0);
    font-weight: 700px;
    font-size: 3.2rem;
    margin-left: 20px;
}
.shop-right-side {

    flex: 1;
    
}
.trusted-badge{
    width: 250px;
   height: 286px;
  
   margin-left: 380px;
   margin-bottom: -180px;
  
  
    

}
.experience-badge{
    align-items: center;
}
.shop-left-side{
    flex: 1;

    
}
.shop-right-side ul li{
    font-size: 1.6rem;
    font-weight: 400px;
    color: rgba(0, 0, 0, 0.5);
    margin-left: 40px;
}
.shop-details{
    text-align: center;
    margin: 64px auto;

}
.shop-title{
    font-weight: 700px;
    font-size: 3.2rem;
}
.shop-description{
    font-weight: 400px;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.5);
}
.flowers-picture{
    display: flex;
    justify-content: center;
    align-items: center;
   gap: 22px;
    margin: 50px 80px;

}
.cards-content-flowers{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    
}
.bloom-content img{
    width: 366.22px;
     height: 206px;
     border-radius: 10px;
}
.ena-content img{
    width: 380.22px;
     height: 206px;
   border-radius: 10px;
}
.zabo-content img{
    width: 753px;
   height: 423.13px;
   border-radius: 10px;
}
.contact-us-parent{
    background-image: url(./assets/news-letter-bg.png);
    padding: 200px 150px;
    text-align: center;
    margin: 70px auto;
}
 .contact-us-parent h2{
    background: none;
    font-size: 3rem;
    font-weight: 700px;
    color: white;
 }
 .contact-us-parent input{
    padding: 20px 150px;
    border: none;
      text-align: left;
      margin-bottom: 10px;
      border-radius: 5px 5px;
         gap: 0px;
  

 }
 .primary-btn-2{
    padding: 15px 35px;
    font-size: 1.2rem;
    font-weight: 400px;
    color: white;
    border-radius: 0px 5px 10px 10px;
    margin-right: 20px;
    gap: 0px;
    margin-bottom: 10px;
  
  background: rgb(233, 90, 8);

 }
  .flower-description{
    display: flex;
    justify-content: space-around;
    margin: 50px auto;
  }
  .description-content-details {
    font-size: 1.2rem;
    font-weight: 400px;
    color: rgb(107, 114, 128);
 }
 .title-first ul {
    list-style-type: none;


 }
 .title-first ul li a{
    text-decoration: none;
    gap: 30px;
    color: rgb(107, 114, 128);
 }
 
 .flowers-website img{
    gap: 20px;
 }
 
@media   (max-width: 768px) {
    .nav,
    .nav-right,
    .banner,
    .flowers-shop,
    .flowers-picture,
    .cards-content-flowers,
     .flower-description

    {
        flex-direction: column;
    }

   
   .first-item{
        display: none;
    }
    .second-item{
        display: none;
    }
    
    
    .nav{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
    }
    .flowers-card-content{
        grid-template-columns: repeat(2,1fr);
    }
   
    
    .nav-left{
        align-items: center;
        margin-bottom: 80px;
    }
   .trusted-badge{
    display: none;
   }
   .zabo-content img{
    width: 380.22px;
     height: 206px;
   border-radius: 10px;
}
 .contact-us-parent input{
    padding: 20px 150px;
    border: none;
      text-align: left;
      margin-bottom: 10px;
      border-radius: 5px 5px;
         gap: 0px;
  

 }
 .primary-btn-2{
    padding: 15px 35px;
    font-size: 1.2rem;
    font-weight: 400px;
    color: white;
    border-radius: 0px 5px 10px 10px;
    margin-right: 20px;
    gap: 0px;
    margin-bottom: 10px;
  
  background: rgb(233, 90, 8);

 }
 .card-item:hover{
    color: blueviolet;
}


    }

